.header {
    position: fixed;
    z-index: 2;
    color: white;
    display: flex;
    width: 100vw;
    align-items: baseline;
    justify-content: space-between;
    padding: 2% 5%;
}

.header h1 {
    font-size: 2ch;
    font-weight: 700;
}